---
import Layout from "../../layouts/Layout.astro";
import Content from "./cheatsheet/_content.astro";
import Forms from "./cheatsheet/_forms.astro";
import Components from "./cheatsheet/_components.astro";

import Icon from "astro-icon";

---

<Layout
  hide_footer={true}
  hide_header={true}
  main_classList={[]}
  is_bootstrap={true}
>
  <div class="petrosains">
    <pre>
230317 - adapted guide to bootstrap-theme
230316 - recreate styling using brand guideline
</pre>

    <section class="d-flex flex-wrap align-items-center tw-gap-4 mx-4">
      <a href="#" class="btn btn-lg btn-cta">Buy Tickets</a>
      <a href="#" class="btn btn-lg btn-secondary">More Information</a>
      <a href="#" class="btn btn-lg btn-primary">View Promotions</a>
      <button class="btn btn-outline-cta rounded-circle tw-aspect-square p-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 16 16"
          ><path
            fill="currentColor"
            d="m3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
          ></path></svg
        >
      </button>
      <button class="btn btn-outline-cta rounded-circle tw-aspect-square p-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 16 16"
          ><path
            fill="currentColor"
            d="m12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
          ></path></svg
        >
      </button>

      <a href="#" class="h4"
        >Explore More
        <Icon name="bi:dot" size="64" class="text-cta" />
      </a>

      <div class="w-100 d-flex tw-gap-5">
        <button class="btn btn-primary rounded-circle tw-aspect-square p-3">
          <Icon name="bi:tiktok" size="32" />
        </button>
        <button class="btn btn-primary rounded-circle tw-aspect-square p-3">
          <Icon name="bi:facebook" size="32" />
        </button>
        <button class="btn btn-primary rounded-circle tw-aspect-square p-3">
          <Icon name="bi:instagram" size="32" />
        </button>
        <button class="btn btn-primary rounded-circle tw-aspect-square p-3">
          <Icon name="bi:youtube" size="32" />
        </button>
      </div>
    </section>

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-auto">
          <ul
            class="nav nav__social justify-content-center tw-gap-5 tw-overflow-hidden px-5 border-bottom border-3 border-primary w-auto"
          >
            {
              [
                {
                  icon_name: "bi:tiktok",
                  href: "#",
                },
                {
                  icon_name: "bi:facebook",
                  href: "#",
                },
                {
                  icon_name: "bi:instagram",
                  href: "#",
                },
                {
                  icon_name: "bi:youtube",
                  href: "#",
                },
              ].map((item) => (
                <li class="nav-item">
                  <a
                    href={item.href}
                    class="nav-link btn-social text-white btn btn-primary rounded-circle tw-aspect-square p-5"
                  >
                    <Icon name={item.icon_name} size="48" />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="col-12">
          <h3 class="h2 my-4">Connect with Us!</h3>
        </div>
      </div>
    </div>

    <style is:global>
      .nav__social .nav-item {
        transform: translate(0, 40%);
        transition: all 1.2s ease;
      }
      .nav__social .nav-item:hover {
        transform: translate(0, 5%);
        transition: all 0.3s ease;
        transition-timing-function: ease-in-out;
      }

      .nav__social .nav-item .nav-link > svg {
        transform: translate(0, -40%);
        transition: all 1.2s ease;
      }
      .nav__social .nav-item:hover .nav-link > svg {
        transform: translate(0, 5%);
        transition: all 0.3s ease;
        transition-timing-function: ease-in-out;
      }
    </style>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-5">
        <div class="container">
          <a class="navbar-brand" href="#">
            <!-- prettier-ignore -->
            <svg id="petrosains_logo" width="126" height="40" viewBox="0 0 126 40" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M16.9113 17.6768L11.6119 17.8448L17.8295 18.3009L16.9113 17.6768Z" fill="currentColor"></path> <path d="M17.8295 18.3009L12.5242 18.529L18.7477 18.9791L17.8295 18.3009Z" fill="currentColor"></path> <path d="M18.7477 18.9791L13.5024 19.1231L19.666 19.6333L18.7477 18.9791Z" fill="currentColor"></path> <path d="M19.72 19.6332L14.4146 19.8073L20.6382 20.3114L19.72 19.6332Z" fill="currentColor"></path> <path d="M20.6382 20.3114L15.3329 20.4555L21.5565 20.9956L20.6382 20.3114Z" fill="currentColor"></path> <path d="M15.849 20.9116L14.9308 26.1809L16.9953 20.9956L15.849 20.9116Z" fill="currentColor"></path> <path d="M16.9953 20.9956L16.0831 26.1809L18.1416 20.9956H16.9953Z" fill="currentColor"></path> <path d="M18.1416 20.9956L17.2294 26.2409L19.2099 20.9956H18.1416Z" fill="currentColor"></path> <path d="M19.2579 20.9956L18.3697 26.2409L20.3202 20.9956H19.2579Z" fill="currentColor"></path> <path d="M20.4102 20.9956L19.4919 26.2409L21.4664 21.0796L20.4102 20.9956Z" fill="currentColor"></path> <path d="M6.59467 20.9956L5.16031 26.0429L7.5129 20.3114L6.59467 20.9956Z" fill="currentColor"></path> <path d="M7.51292 20.3114L6.04855 25.3647L8.48517 19.6332L7.51292 20.3114Z" fill="currentColor"></path> <path d="M8.48515 19.6333L6.96677 24.6865L9.40338 18.9791L8.48515 19.6333Z" fill="currentColor"></path> <path d="M9.40339 18.9791L7.88501 24.0023L10.3156 18.3009L9.40339 18.9791Z" fill="currentColor"></path> <path d="M10.3156 18.3009L8.85727 23.3182L11.2399 17.6227L10.3156 18.3009Z" fill="currentColor"></path> <path d="M9.40338 22.9521L14.1866 25.4187L9.76947 21.9018L9.40338 22.9521Z" fill="currentColor"></path> <path d="M9.76947 21.9018L14.5587 24.3684L10.1476 20.8516L9.76947 21.9018Z" fill="currentColor"></path> <path d="M10.1476 20.8516L14.9308 23.3182L10.5437 19.8073L10.1476 20.8516Z" fill="currentColor"></path> <path d="M10.5437 19.8073L15.3329 22.1839L10.9218 18.751L10.5437 19.8073Z" fill="currentColor"></path> <path d="M10.9218 18.751L15.705 21.1336L11.2939 17.6768L10.9218 18.751Z" fill="currentColor"></path> <path d="M6.42663 31.6603L10.8377 34.601L6.14456 30.604L6.42663 31.6603Z" fill="currentColor"></path> <path d="M6.13257 30.604L10.5437 33.5268L5.8205 29.4697L6.13257 30.604Z" fill="currentColor"></path> <path d="M5.82049 29.4697L10.2376 32.4765L5.44839 28.4255L5.82049 29.4697Z" fill="currentColor"></path> <path d="M5.44838 28.4254L9.85949 31.3782L5.16031 27.3752L5.44838 28.4254Z" fill="currentColor"></path> <path d="M5.16031 27.3752L9.4814 30.322L4.75821 26.2409L5.16031 27.3752Z" fill="currentColor"></path> <path d="M9.31337 29.6378L13.1844 25.8748L8.43115 28.9656L9.31337 29.6378Z" fill="currentColor"></path> <path d="M8.43114 28.9656L12.2961 25.1906L7.51291 28.2814L8.43114 28.9656Z" fill="currentColor"></path> <path d="M7.51292 28.2814L11.3779 24.5365L6.67871 27.6033L7.51292 28.2814Z" fill="currentColor"></path> <path d="M6.59469 27.6033L10.4657 23.8583L5.76648 26.9191L6.59469 27.6033Z" fill="currentColor"></path> <path d="M5.76647 26.9191L9.54142 23.1741L4.84824 26.2409L5.76647 26.9191Z" fill="currentColor"></path> <path d="M16.9113 35.0331L21.0943 31.8824L15.765 35.0331H16.9113Z" fill="currentColor"></path> <path d="M15.705 35.0331L19.948 31.8824L14.5587 35.0331H15.705Z" fill="currentColor"></path> <path d="M14.5587 35.0331L18.8018 31.8824L13.4184 35.0331H14.5587Z" fill="currentColor"></path> <path d="M13.4184 35.0331L17.6015 31.8824L12.2961 35.0331H13.4184Z" fill="currentColor"></path> <path d="M12.2961 35.0331L16.4552 31.8824L11.1498 35.0331H12.2961Z" fill="currentColor"></path> <path d="M15.765 31.8283L13.4184 27.0931L14.8768 32.4225L15.765 31.8283Z" fill="currentColor"></path> <path d="M14.8768 32.4225L12.4402 27.6873L13.9585 33.1067L14.8768 32.4225Z" fill="currentColor"></path> <path d="M13.9586 33.1067L11.5219 28.3655L13.0403 33.6948L13.9586 33.1067Z" fill="currentColor"></path> <path d="M13.0403 33.6948L10.6037 28.9656L12.0681 34.379L13.0403 33.6948Z" fill="currentColor"></path> <path d="M12.0681 34.379L9.63147 29.6378L11.1499 34.9791L12.0681 34.379Z" fill="currentColor"></path> <path d="M23.3029 26.3249L21.5565 21.4457L22.9308 27.4592L23.3029 26.3249Z" fill="currentColor"></path> <path d="M22.9308 27.4592L21.1844 22.502L22.6187 28.5095L22.9308 27.4592Z" fill="currentColor"></path> <path d="M22.6187 28.5095L20.7823 23.5462L22.2406 29.5538L22.6187 28.5095Z" fill="currentColor"></path> <path d="M22.2406 29.5538L20.4102 24.6865L21.8385 30.694L22.2406 29.5538Z" fill="currentColor"></path> <path d="M21.8385 30.694L20.0921 25.7308L21.5565 31.7383L21.8385 30.694Z" fill="currentColor"></path> <path d="M19.804 26.3249L14.4747 27.1471L20.0921 27.4592L19.804 26.3249Z" fill="currentColor"></path> <path d="M20.0921 27.4592L14.8768 28.1974L20.4942 28.5095L20.0921 27.4592Z" fill="currentColor"></path> <path d="M20.4942 28.5095L15.1648 29.3317L20.7822 29.5538L20.4942 28.5095Z" fill="currentColor"></path> <path d="M20.7823 29.5537L15.4769 30.3759L21.1844 30.694L20.7823 29.5537Z" fill="currentColor"></path> <path d="M21.1843 30.694L15.849 31.4322L21.4664 31.7383L21.1843 30.694Z" fill="currentColor"></path> <path d="M23.3569 16.3984L32.7913 0.4104H13.8685L2.2676 20.1734C1.12131 22.1299 0.575169 24.2304 0.545161 26.3009C0.485146 33.1066 6.01854 39.6003 13.8685 39.5403C16.8513 39.5403 19.4319 38.6641 21.5565 37.2177C27.0298 33.6168 29.2084 26.2469 25.5715 20.0894L23.3629 16.4044L23.3569 16.3984ZM21.5565 3.26712H27.546L21.6165 13.4757L21.5565 13.3917L15.5669 3.26712H21.5565ZM21.5565 33.3287C19.81 35.2552 17.2294 36.6175 13.8685 36.7016C5.21434 36.5275 1.25934 27.6873 4.92627 21.5297L13.8685 6.33389L21.5565 19.3512L22.8468 21.5357C25.1094 25.3647 24.4252 30.1539 21.5565 33.3347" fill="currentColor"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M97.0075 19.9813V18.2349H98.4058L97.0075 14.4599V12.0233H98.0997L102.223 22.3099H99.9722L99.078 19.9753H97.0075V19.9813ZM103.255 22.3159V12.0293H105.344V22.3159H103.255ZM107.336 22.3159V12.0293H109.365L113.584 18.889V12.0293H115.51V22.3159H113.422L109.281 15.6002V22.3159H107.336ZM117.179 18.9671L119.201 18.763C119.327 19.4532 119.567 19.9393 119.933 20.2634C120.299 20.5875 120.803 20.7315 121.434 20.7315C122.106 20.7315 122.61 20.5875 122.952 20.3054C123.294 20.0173 123.456 19.6932 123.456 19.3332C123.456 19.0691 123.372 18.865 123.234 18.703C123.09 18.5229 122.85 18.3789 122.484 18.2589C122.262 18.1809 121.692 18.0128 120.839 17.8148C119.717 17.5327 118.931 17.1846 118.481 16.8005C117.851 16.2304 117.533 15.5402 117.533 14.73C117.533 14.2019 117.695 13.7157 117.977 13.2476C118.283 12.8035 118.709 12.4554 119.279 12.2154C119.825 11.9693 120.497 11.8493 121.29 11.8493C122.586 11.8493 123.558 12.1313 124.212 12.7015C124.86 13.2716 125.209 14.0218 125.251 14.9761L123.162 15.0601C123.078 14.5319 122.898 14.1478 122.592 13.9258C122.31 13.7037 121.86 13.5837 121.272 13.5837C120.683 13.5837 120.203 13.7037 119.855 13.9498C119.651 14.1118 119.531 14.3339 119.531 14.598C119.531 14.844 119.633 15.0421 119.837 15.2041C120.101 15.4262 120.749 15.6722 121.746 15.8943C122.76 16.1403 123.516 16.3804 124.002 16.6445C124.488 16.8905 124.854 17.2566 125.137 17.6827C125.425 18.1268 125.545 18.679 125.545 19.3272C125.545 19.9153 125.383 20.4614 125.059 20.9896C124.734 21.4997 124.266 21.8838 123.678 22.1299C123.072 22.3939 122.322 22.514 121.428 22.514C120.125 22.514 119.135 22.2079 118.445 21.6017C117.737 21.0136 117.329 20.1434 117.191 18.9851L117.179 18.9671ZM97.0075 12.0293V14.4659L96.9835 14.4239L95.5851 18.2409H97.0075V19.9873H94.9549L94.1027 22.3219H91.9182L95.9152 12.0353H97.0135L97.0075 12.0293ZM76.7524 22.4779V20.7135C77.5866 20.7135 78.2527 20.4074 78.7989 19.8193C79.327 19.2131 79.5911 18.3189 79.5911 17.1426C79.5911 15.9663 79.327 15.0721 78.8229 14.5019C78.2947 13.9138 77.6046 13.6257 76.7524 13.6257V11.8433C78.2527 11.8433 79.471 12.3114 80.3653 13.2656C81.2775 14.1959 81.7456 15.4982 81.7456 17.1786C81.7456 18.859 81.2835 20.1434 80.3893 21.0736C79.477 22.0038 78.2767 22.4719 76.7764 22.4719H76.7524V22.4779ZM82.8379 18.9671L84.8484 18.763C84.9744 19.4532 85.2145 19.9393 85.5986 20.2634C85.9647 20.5875 86.4688 20.7315 87.099 20.7315C87.7651 20.7315 88.2753 20.5875 88.5993 20.3054C88.9474 20.0173 89.1275 19.6932 89.1275 19.3332C89.1275 19.0691 89.0495 18.865 88.9054 18.703C88.7614 18.5229 88.5213 18.3789 88.1552 18.2589C87.9092 18.1809 87.363 18.0128 86.4928 17.8148C85.3765 17.5327 84.6023 17.1846 84.1582 16.8005C83.5281 16.2304 83.204 15.5402 83.204 14.73C83.204 14.2019 83.348 13.7157 83.6541 13.2476C83.9602 12.8035 84.3863 12.4554 84.9324 12.2154C85.5026 11.9693 86.1687 11.8493 86.9609 11.8493C88.2633 11.8493 89.2355 12.1313 89.8837 12.7015C90.5318 13.2716 90.8739 14.0218 90.8979 14.9761L88.8274 15.0601C88.7434 14.5319 88.5453 14.1478 88.2633 13.9258C87.9572 13.7037 87.5311 13.5837 86.9429 13.5837C86.3548 13.5837 85.8687 13.7037 85.5206 13.9498C85.2985 14.1118 85.1965 14.3339 85.1965 14.598C85.1965 14.844 85.2985 15.0421 85.5026 15.2041C85.7666 15.4262 86.3968 15.6722 87.411 15.8943C88.4253 16.1403 89.1755 16.3804 89.6616 16.6445C90.1477 16.8905 90.5138 17.2566 90.8019 17.6827C91.066 18.1268 91.204 18.679 91.204 19.3272C91.204 19.9153 91.042 20.4614 90.7179 20.9896C90.3938 21.4997 89.9257 21.8838 89.3195 22.1299C88.7314 22.3939 87.9812 22.514 87.087 22.514C85.7906 22.514 84.7944 22.2079 84.0862 21.6017C83.396 21.0136 82.9699 20.1434 82.8439 18.9851L82.8379 18.9671ZM76.7524 11.8433V13.6257C75.9001 13.6257 75.21 13.9078 74.6818 14.5019C74.1537 15.0901 73.8896 15.9843 73.8896 17.1606C73.8896 18.3369 74.1717 19.2131 74.6998 19.8193C75.246 20.4074 75.9181 20.7135 76.7524 20.7135V22.4779C75.234 22.4779 74.0097 22.0098 73.1214 21.0976C72.2092 20.1434 71.7651 18.865 71.7651 17.2206C71.7651 16.1884 71.9271 15.2941 72.2272 14.586C72.4733 14.0758 72.7794 13.5897 73.1815 13.1876C73.5896 12.7615 74.0337 12.4554 74.5198 12.2514C75.15 11.9873 75.9001 11.8493 76.7343 11.8493H76.7584L76.7524 11.8433ZM65.9736 18.559V16.3684C66.6458 16.3444 67.0899 16.3084 67.294 16.2484C67.54 16.1644 67.7201 16.0263 67.8641 15.8223C68.0081 15.6002 68.0862 15.3541 68.0862 15.0541C68.0862 14.688 67.9901 14.4239 67.8041 14.2019C67.6241 13.9978 67.36 13.8598 67.0119 13.7938C66.8919 13.7697 66.5438 13.7697 65.9796 13.7697V12.0233H66.1837C67.282 12.0233 68.0742 12.1073 68.5783 12.3054C69.0824 12.4914 69.4665 12.8155 69.7726 13.2776C70.0787 13.7457 70.2227 14.2919 70.2227 14.904C70.2227 15.6722 70.0007 16.3024 69.5505 16.8125C69.0884 17.3166 68.4163 17.6407 67.504 17.7668C67.9481 18.0308 68.3382 18.3129 68.6203 18.637C68.9264 18.9431 69.3105 19.5072 69.7966 20.2994L71.0569 22.3099H68.5843L67.0839 20.0593C66.5558 19.2851 66.1897 18.781 65.9856 18.559H65.9736ZM37.7665 12.0233C38.7208 12.0413 39.3509 12.0833 39.651 12.1613C40.2572 12.3234 40.7493 12.6715 41.1514 13.1756C41.5355 13.7037 41.7395 14.3759 41.7395 15.1861C41.7395 15.8163 41.6195 16.3444 41.3974 16.7705C41.1754 17.2146 40.8693 17.5387 40.5272 17.7848C40.1791 18.0308 39.813 18.1929 39.4529 18.2709C39.0448 18.3489 38.4747 18.4149 37.7665 18.4149V16.6685C38.2106 16.6445 38.5407 16.5845 38.7208 16.5244C38.9848 16.4044 39.2069 16.2424 39.3689 16.0203C39.531 15.7743 39.591 15.5102 39.591 15.2101C39.591 14.844 39.495 14.5379 39.2669 14.2739C39.0388 14.0518 38.7808 13.8898 38.4327 13.8298C38.2887 13.8118 38.0666 13.7878 37.7605 13.7697V12.0233H37.7665ZM65.9736 12.0233V13.7697H63.8851V16.3684H65.9736V18.559C65.7696 18.3549 65.5655 18.2169 65.3435 18.1328C65.1214 18.0488 64.7733 18.0128 64.3112 18.0128H63.8851V22.3159H61.7966V12.0293H65.9796L65.9736 12.0233ZM43.444 22.3099V12.0293H51.0779V13.7758H45.5145V16.0503H50.6878V17.7728H45.5145V20.5755H51.2759V22.3219H43.444V22.3099ZM55.357 22.3099V13.7637H52.2902V12.0173H60.4462V13.7637H57.4275V22.3099H55.357ZM33.8655 22.3099V12.0293H37.7605V13.7758H35.9361V16.6805H37.7605V18.4269C37.6165 18.4449 37.4544 18.4449 37.2924 18.4449H35.9361V22.3219H33.8655V22.3099Z" fill="currentColor"></path> </svg>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent2"
          >
            <div class="">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section id="intro" class="my-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="mb-5">
                <h1 class="display-4">
                  Curious Minds <span><br /> Brave Explorers</span>
                </h1>
                <p class="lead">
                  Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea
                  commodo claritatem insitamconse quat.Exerci tation ullamcorper
                  suscipit loborti
                </p>
              </div>
              <div class="d-flex align-items-center flex-wrap">
                <a class="me-lg-3 btn btn-cta" href="#">Buy Ticket</a>
                <a class="btn btn-outline-primary" href="#">View Promotions</a>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <figure>
                <img
                  src="https://via.placeholder.com/512x512?text=placeholder"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section id="explore" class="my-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="mb-5">
                <h2>Explore our Flagship Exhibits</h2>
                <p class="lead">
                  Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea
                  commodo claritatem insitamconse quat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="news-events" class="my-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="mb-5">
                <h2>News & Events</h2>
                <p class="lead">
                  Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea
                  commodo claritatem insitamconse quat.
                </p>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3">
              {
                [0, 1, 2].map((item) => (
                  <div class="col g-4">
                    <div class={`card card-${item}`}>
                      <figure class="tw-aspect-[4/3]">
                        <svg
                          class="bd-placeholder-img card-img-top tw-object-cover tw-w-full tw-h-full"
                          width="100%"
                          height="180"
                          xmlns="http://www.w3.org/2000/svg"
                          role="img"
                          aria-label="Placeholder: Image cap"
                          preserveAspectRatio="xMidYMid slice"
                          focusable="false"
                        >
                          <title>Placeholder</title>
                          <>
                            <rect width="100%" height="100%" fill="#868e96" />
                            <text
                              x="50%"
                              y="50%"
                              fill="#dee2e6"
                              text-anchor="middle"
                              alignment-baseline="middle"
                              dy=".3em"
                            >
                              Image cap
                            </text>
                          </>
                        </svg>
                      </figure>

                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">
                          Go somewhere
                        </a>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
            <div class="row row-cols-1 row-cols-lg-3">
              {
                [0, 1, 2].map((item) => (
                  <div class="col g-4">
                    <div
                      class:list={[
                        "card",
                        `card-${item}`,
                        "position-relative",
                        "overflow-hidden",
                        "shadow",
                        "border-0",
                      ]}
                    >
                      <figure class="glass_effect tw-aspect-[4/6] mb-0  overflow-hidden">
                        <svg
                          class="w-100 h-100 rounded-5"
                          width="321"
                          height="402"
                          viewBox="0 0 321 402"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M-53.3366 319.17C-55.3604 308.437 -54.7002 297.769 -51.864 287.918L-51.9881 287.903C-40.9573 252.112 -60.9862 214.145 -96.751 203.137L-96.9014 203.099C-147.807 191.428 -189.306 150.702 -199.571 96.0881C-213.441 22.5795 -165.048 -48.2357 -91.5394 -62.1058C-18.0308 -75.9759 52.7845 -27.5827 66.6546 45.9259C74.3035 86.5581 63.9775 125.785 39.9063 155.592L39.4812 156.141C16.7858 185.941 22.5164 228.489 52.2901 251.162C66.2606 260.958 76.5745 275.974 79.9699 294.049C86.8805 330.806 62.6481 366.228 25.8431 373.143C-10.962 380.057 -46.4523 355.903 -53.363 319.147"
                            fill="#20419A"
                          />
                          <path
                            d="M239.488 175.288C241.71 190.386 240.189 205.216 235.682 218.761L235.852 218.775C218.463 268.089 243.967 322.158 293.216 339.507L293.465 339.614C363.817 358.726 419.741 417.827 431.038 494.552C446.243 597.868 374.848 693.962 271.532 709.168C168.216 724.373 72.1221 652.977 56.917 549.662C48.5212 492.58 66.5865 437.752 101.826 397.507L102.543 396.553C135.845 356.246 128.639 297.512 88.3972 264.25L88.4172 264.218C69.474 249.811 55.9179 228.279 52.1838 202.873C44.5649 151.205 80.3479 103.166 132.101 95.5539C183.854 87.9423 231.954 123.627 239.54 175.275"
                            fill="#00A19C"
                          />
                          <path
                            d="M253.322 240.805C250.073 226.746 250.361 212.687 253.589 199.573H253.446C266.05 151.806 237.592 102.887 189.908 90.3081L189.99 90.2054C122.278 77.5646 65.1142 26.2001 48.6231 -45.1635C26.4157 -141.274 86.3552 -237.179 182.485 -259.378C278.614 -281.576 374.579 -221.682 396.786 -125.571C409.062 -72.4798 397.999 -20.8276 367.875 19.7461L366.909 21.0821C338.615 61.5736 348.464 117.296 388.911 145.537L388.89 145.557C407.828 157.705 422.242 176.923 427.691 200.56C438.795 248.615 408.774 296.589 360.617 307.688C312.46 318.787 264.426 288.86 253.322 240.825"
                            fill="#EC008C"
                          />
                        </svg>
                        <div class="blur" />
                      </figure>

                      <div class="card-img-overlay d-flex flex-column justify-content-end align-items-start">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">
                          Go somewhere
                        </a>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </section>

      <section id="news-events" class="my-6">
        <div class="container">
          <div class="row row-cols-1 row-cols-lg-2">
            {
              [0, 1].map((item) => (
                <div class="col g-4">
                  <div
                    class={`card card-${item} rounded-5 overflow-hidden tw-aspect-[16/9]`}
                  >
                    <div class="card-body px-5 py-6 bg-success d-flex flex-column justify-content-start align-items-start">
                      <h5 class="h2 card-title text-white">Card title</h5>
                      <p class="card-text text-white">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#" class="btn btn-outline-light">
                        Go somewhere
                      </a>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>

      <section id="petrosains-animation">
        <!-- <PetrosainsAnimation /> -->
        <pre>PetrosainsAnimation</pre>
      </section>
    </main>

    <footer
      class="tw-aspect-[644/172] position-relative d-flex align-items-center justify-content-center"
    >
      <figure
        class="mb-0 tw-aspect-[644/172] position-absolute tw-inset-0 tw-z-[-1]"
      >
        <svg
          class="w-100 h-100"
          width="644"
          height="172"
          viewBox="0 0 644 172"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_56_58"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="644"
            height="172"
          >
            <rect width="644" height="172" fill="#D9D9D9"></rect>
          </mask>
          <g mask="url(#mask0_56_58)">
            <path
              d="M521.526 258.629C503.543 250.06 488.544 237.61 477.09 222.834L476.934 223C436.097 168.246 358.637 156.889 303.944 197.711L303.727 197.892C231.767 260.297 127.14 277.587 35.6724 233.939C-87.4997 175.27 -139.711 27.8105 -81.0417 -95.3615C-22.3725 -218.534 125.087 -270.745 248.259 -212.076C316.324 -179.62 362.979 -122.206 380.971 -54.6872L381.322 -53.4709C400.785 12.0145 469.607 49.3569 535.031 29.9081C564.49 19.8763 597.699 20.8448 627.97 35.2937C689.533 64.6664 715.622 138.465 686.202 200.104C656.782 261.742 583.027 288.016 521.465 258.643"
              fill="#20419A"></path>
            <mask
              id="mask1_56_58"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="-106"
              y="-237"
              width="805"
              height="508"
            >
              <path
                d="M521.526 258.629C503.543 250.06 488.544 237.61 477.09 222.834L476.934 223C436.097 168.246 358.637 156.889 303.944 197.711L303.727 197.892C231.767 260.297 127.14 277.587 35.6724 233.939C-87.4997 175.27 -139.711 27.8105 -81.0417 -95.3615C-22.3725 -218.534 125.087 -270.745 248.259 -212.076C316.324 -179.62 362.979 -122.206 380.971 -54.6872L381.322 -53.4709C400.785 12.0145 469.607 49.3569 535.031 29.9081C564.49 19.8763 597.699 20.8448 627.97 35.2937C689.533 64.6664 715.622 138.465 686.202 200.104C656.782 261.742 583.027 288.016 521.465 258.643"
                fill="#20419A"></path>
            </mask>
            <g mask="url(#mask1_56_58)">
              <path
                d="M188.482 227.695C182.163 222.838 177.365 216.755 174.12 210.021L174.064 210.071C162.67 185.302 133.382 174.435 108.659 185.794L108.66 185.728C75.3811 204.083 33.0029 202.247 0.930454 177.617C-42.2517 144.448 -50.3868 82.5729 -17.2178 39.3907C15.9511 -3.79152 77.8266 -11.9266 121.009 21.2424C144.864 39.5677 158.318 65.8724 159.715 93.7279L159.741 94.2113C161.907 121.393 185.647 141.68 212.777 139.523L212.767 139.538C225.103 138.066 237.984 141.202 248.599 149.36C270.183 165.94 274.229 196.908 257.619 218.537C241.009 240.166 210.051 244.264 188.452 227.674"
                fill="#00A19C"></path>
              <path
                d="M239.267 64.5317C244.403 67.9052 248.439 72.3081 251.318 77.3003L251.358 77.2584C261.533 95.6519 284.672 102.335 303.032 92.1898L303.035 92.2407C327.573 76.2284 360.261 75.2203 386.326 92.3258C421.421 115.362 431.209 162.471 408.172 197.566C385.135 232.661 338.026 242.449 302.932 219.412C283.544 206.684 271.698 187.228 269.033 165.891L268.986 165.52C265.768 144.745 246.358 130.503 225.621 133.71L225.628 133.698C216.228 135.534 206.145 133.858 197.518 128.192C179.976 116.677 175.097 93.0982 186.633 75.5202C198.169 57.9422 221.738 53.024 239.291 64.5459"
                fill="#00A19C"></path>
              <path
                d="M413.269 114.85C407.326 109.539 402.991 103.119 400.252 96.1633L400.192 96.2093C390.658 70.6661 362.253 57.6655 336.759 67.1677L336.764 67.1018C302.221 82.9485 260.094 77.9877 229.928 51.0566C189.314 14.7888 185.771 -47.5185 222.039 -88.1329C258.307 -128.747 320.614 -132.29 361.228 -96.0223C383.665 -75.9852 395.139 -48.7586 394.475 -20.8759L394.465 -20.392C394.618 6.87532 416.794 28.8604 444.01 28.7133L443.999 28.7276C456.41 28.171 469.024 32.2495 479.008 41.1695C499.308 59.2977 501.056 90.48 482.894 110.823C464.731 131.166 433.555 132.966 413.241 114.827"
                fill="#00A19C"></path>
              <path
                d="M540.283 11.24C541.576 16.064 541.642 20.9426 540.689 25.5161L540.745 25.5143C536.957 42.2029 547.292 58.8153 563.957 62.5934L564.042 62.6188C587.635 66.1723 608.049 83.2708 614.622 107.786C623.471 140.797 603.894 174.734 570.883 183.583C537.872 192.432 503.934 172.855 495.086 139.844C490.198 121.605 493.998 103.099 503.933 88.6834L504.13 88.3464C513.432 73.9844 508.869 55.1634 494.53 45.8719L494.535 45.8605C487.832 41.8932 482.611 35.4063 480.437 27.2883C476.007 10.7801 485.823 -6.1895 502.36 -10.6204C518.896 -15.0512 535.881 -5.26905 540.3 11.2339"
                fill="#00A19C"></path>
            </g>
          </g>
        </svg>
      </figure>
      <p class="text-white text-center">&copy; PETROSAINS 2023</p>
    </footer>
  </div>
  <div class="container-fluid">
    <Content />
    <Forms />
    <Components />
  </div>
</Layout>

<script>
  import * as bootstrap from "bootstrap";
</script>

<style lang="scss" is:global>
  @import "./scss/bootstrap-functions";

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

  $pet-emerald: #00a19c;
  $pet-blue: #20419a;
  $pet-purple: #763f98;
  $pet-magenta: #ec008c;
  $black: #000000;
  $white: #ffffff;
  $blue: #003da6;
  $darkblue: #2b327c;
  $purple: #872368;
  $red: #e31d3c;
  $silver: #969696;
  $gold: #ffcd32;

  $cyan: #0dcaf0;
  $gray-100: #f8f9fa;

  $primary: $pet-blue;
  $secondary: $pet-purple;
  $success: $pet-emerald;
  $info: $cyan;
  $warning: $gold;
  $danger: $red;
  $light: $gray-100;
  $dark: $black;
  $cta: $pet-magenta;

  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "cta": $cta,
  );

  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    7: $spacer * 6,
    8: $spacer * 7.5,
    9: $spacer * 9,
    10: $spacer * 10,
  );

  $body-bg: $white;
  $body-color: $black;

  $link-color: $primary;
  $link-decoration: underline;
  $link-hover-decoration: none;

  $paragraph-margin-bottom: 1rem;

  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    // xxl: 1320px,
    xxl: 1440px,
  );

  $border-color: rgba($silver, 0.5);

  $border-radius: 0.5rem;
  $border-radius-sm: 0.25rem;
  $border-radius-lg: 1rem;
  $border-radius-xl: 1.5625rem; //25px
  $border-radius-2xl: 2.1875rem; //35px
  $border-radius-pill: 50rem;

  $component-active-color: $white;
  $component-active-bg: $primary;

  $box-shadow: 0 0.5rem 1rem rgba($primary, 0.15);
  $box-shadow-sm: 0 0.125rem 0.25rem rgba($primary, 0.075);
  $box-shadow-lg: 0 1rem 3rem rgba($primary, 0.175);
  $box-shadow-inset: inset 0 1px 2px rgba($primary, 0.075); // - [ ] what is this

  $transition-base: all 0.2s ease-in-out;
  $transition-fade: opacity 0.15s linear;
  $transition-collapse: height 0.35s ease;
  $transition-collapse-width: width 0.35s ease;

  $aspect-ratios: (
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),
  );

  $font-family-sans-serif: "Poppins", Arial, sans-serif;

  $font-size-base: 1rem;
  $font-size-sm: $font-size-base * 0.875;
  $font-size-lg: $font-size-base * 1.25;

  $h1-font-size: $font-size-base * 2.5;
  $h2-font-size: $font-size-base * 2;
  $h3-font-size: $font-size-base * 1.75;
  $h4-font-size: $font-size-base * 1.5;
  $h5-font-size: $font-size-base * 1.25;
  $h6-font-size: $font-size-base;

  $headings-margin-bottom: $spacer * 0.5;
  // $headings-font-family: null;
  // $headings-font-style: null;
  $headings-font-weight: 700;
  $headings-line-height: 1.1;
  $headings-color: $primary;

  $display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
  );
  $display-font-family: $font-family-sans-serif;
  $display-font-weight: bolder;

  $lead-font-size: $font-size-base * 1.25;
  $lead-font-weight: 500;
  $text-muted: $silver;
  $small-font-size: 0.875rem;

  $blockquote-margin-y: $spacer;
  $blockquote-font-size: $font-size-base * 1.5;
  $blockquote-footer-color: $silver;
  $blockquote-footer-font-size: $small-font-size;

  $hr-margin-y: $spacer * 3;
  $hr-color: $black;

  $table-striped-bg-factor: 0.1;
  $table-striped-bg: rgba($silver, $table-striped-bg-factor);

  // $table-border-factor: 0.1;
  // $table-border-width: $border-width;
  // $table-border-color: var(--#{$prefix}border-color);
  $table-bg-scale: 0%;

  $table-variants: (
    "primary": shift-color($primary, $table-bg-scale),
    "secondary": shift-color($secondary, $table-bg-scale),
    "success": shift-color($success, $table-bg-scale),
    "info": shift-color($info, $table-bg-scale),
    "warning": shift-color($warning, $table-bg-scale),
    "danger": shift-color($danger, $table-bg-scale),
    "light": $light,
    "dark": $dark,
  );

  $input-btn-font-size: $font-size-base * 1.25;
  $input-btn-padding-x: 1.75rem;
  $input-btn-padding-y: 0.475rem;

  $input-btn-padding-x-lg: 2.25rem;
  $input-btn-padding-y-lg: 0.85rem;

  $btn-border-radius: $border-radius-xl;
  $btn-border-radius-sm: $border-radius;
  $btn-border-radius-lg: $border-radius-2xl;

  $btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  $variable-prefix: bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
  $prefix: $variable-prefix;
  $border-width: 1px;

  $alert-bg-scale: 0%;
  $alert-color-scale: 5%;

  $card-border-color: $border-color;
  $card-color: $black;
  $card-border-radius: $border-radius-2xl;

  $card-spacer-y: $spacer * 1.5;
  $card-spacer-x: $spacer * 1.5;
  $card-cap-bg: #fafafa; // rgba($black, .03)
  $card-title-spacer-y: $spacer;

  $accordion-color: $body-color; // Sass variable because of $accordion-button-icon
  $accordion-button-padding-y: 1.25rem;
  $accordion-button-color: $primary;
  $accordion-border-width: 1px;
  $accordion-border-color: rgba($body-color, 0.2);
  $accordion-button-color: $accordion-color;

  $accordion-button-bg: var(--#{$prefix}accordion-bg);
  $accordion-button-active-bg: $primary;
  $accordion-button-active-color: $white;

  $accordion-icon-width: 0.85rem;
  $accordion-icon-color: $accordion-button-color;
  $accordion-icon-active-color: $accordion-button-active-color;
  $accordion-icon-transform: rotate(90deg);

  $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
  $accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");

  $list-group-item-bg-scale: -10%;
  $list-group-item-color-scale: 90%;

  @import "./scss/bootstrap-reboot";
</style>


<style>
  .glass_effect .blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    backdrop-filter: blur(50px);
    transition: backdrop-filter 0.15s linear;
  }
  .glass_effect svg {
    filter: opacity(0.2) brightness(2);
    transition: filter 0.15s linear;
  }
  .card:hover {
    cursor: pointer;
  }
  .card:hover .glass_effect .blur,
  .card:hover .glass_effect svg {
    backdrop-filter: blur(0px);
    filter: opacity(1) brightness(1);
  }

  .card .glass_effect svg {
    scale: 2;
    transition: scale 0.15s ease;
    animation: 60s linear 0s infinite rotate;
  }

  .card:hover .glass_effect svg {
    /* scale: 1.15; */
  }
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 359deg;
    }
  }
</style>