---
import { getCollection, CollectionEntry } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../layouts/Card.astro";
import { formatBlogPosts } from "../layouts/_Utils";

// blog
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  limit: 4,
});

// api
import get_channels from "../../public/data/230531-youtube_subscribed_data.json";
---

<Layout>
  <h1>special exp</h1>
  <section id="blog_highlight">
    <ul class="grid gap-5 max-w-2xl">
      {
        formattedPosts.map((post) => (
          <Card data={post.data} url={post.slug} heading="h2" />
        ))
      }
    </ul>
  </section>

  <section class="grid grid-cols-8 gap-3 mx-auto px-4">
    {
      get_channels &&
        get_channels.map((item) => (
          <>
            <article>
              <a
                href={`https://www.youtube.com/channel/${item.snippet.resourceId.channelId}`}
                target="_blank"
              >
                <img src={item.snippet.thumbnails.default.url} alt="" />
                <h2>
                  {item.snippet.title} |{" "}
                  <small>{item.contentDetails.totalItemCount}</small>
                </h2>
                <p class="yt-desc">{item.snippet.description}</p>
              </a>
            </article>
          </>
        ))
    }
    <style>
      .yt-desc {
        display: -webkit-box;
        -webkit-line-clamp: 5; /* limit to 5 lines of text */
        -webkit-box-orient: vertical;
        overflow: hidden; /* important to hide the rest of the text */
      }
    </style>
  </section>
</Layout>
